In [2]:
import pandas as pd
import numpy as np
import scipy
import json

In [162]:
# Load the match data. These are my last 100 matches.
df = pd.read_json('data/match_data.json')

# Convert player dicts to DataFrames
df["players"] = df.apply(lambda row : pd.DataFrame(row["players"]), axis=1)

with open('data/ability_ids.json', 'r') as f:
    ability_ids = json.load(f)

In [163]:
# WARNING: If you want to look for a specific player ID (like your own) in the match-dataset,
#          DO NOT use the regular steam ID.
#          The player IDs in the set are Steam32 (32-bit long) IDs, which you have to figure out first:
#          https://steamid.xyz/
with open("private/steam32.txt","r") as f:
    STEAMID32 = int(f.readline())

In [243]:
def filter_player_by_id(players):
    return players["account_id"] == STEAMID32 

def get_team_by_player_id(match1pl):
    return match1pl.loc[filter_player_by_id, "team_number"].to_list()[0]

def apply_filter_to_matches(m):
    return m[m.apply(filter_player_by_id ,axis=1)]

def get_winning_games(m):
    my_teams = m["players"].apply(get_team_by_player_id)
    winning_teams = m["radiant_win"].apply(lambda w : 0 if w else 1)
    comb = pd.concat([myt_teams, winning_teams], axis=1)
    return comb[["players","radiant_win"]].apply(lambda r : r[0]==r[1], axis = 1)

lost_games = df[~get_winning_games(df)]

pd.concat(lost_games["players"].to_list(),axis=0)
#p_series = df["players"].apply(apply_filter_to_matches)
#pd.concat(p_series.to_list(), axis=0)["ability_upgrades"].to_list()[0]
#pd.DataFrame(a)["ability"].apply(lambda r : ability_ids[str(r)]).to_frame()

#pd.concat(df["players"].to_list(), axis=0)

,account_id,player_slot,team_number,team_slot,hero_id,item_0,item_1,item_2,item_3,item_4,...,hero_damage,tower_damage,hero_healing,gold,gold_spent,scaled_hero_damage,scaled_tower_damage,scaled_hero_healing,ability_upgrades,additional_units
0,397510025,0,0,0,98,9,40,48,273,108,...,40816.0,1487.0,0.0,365.0,18600.0,25518.0,719.0,0.0,"[{'ability': 5524, 'time': 253, 'level': 1}, {...",NaN
1,360244157,1,0,1,81,252,63,11,73,55,...,16295.0,490.0,0.0,1401.0,11075.0,8118.0,359.0,0.0,"[{'ability': 5426, 'time': 231, 'level': 1}, {...",NaN
2,124961459,2,0,2,3,102,42,36,232,9,...,13531.0,0.0,192.0,545.0,9490.0,7757.0,0.0,183.0,"[{'ability': 5014, 'time': 245, 'level': 1}, {...",NaN
3,4294967295,3,0,3,9,36,79,100,254,102,...,13541.0,171.0,5491.0,580.0,12660.0,9446.0,117.0,1978.0,"[{'ability': 5048, 'time': 238, 'level': 1}, {...",NaN
4,4294967295,4,0,4,10,0,147,63,139,236,...,12639.0,3282.0,0.0,2419.0,17050.0,7523.0,1422.0,0.0,"[{'ability': 5055, 'time': 207, 'level': 1}, {...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,101572135,128,1,0,102,50,147,250,208,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4294967295,129,1,1,99,226,210,1,50,127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,86829546,130,1,2,27,180,1,102,226,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4294967295,131,1,3,40,1,0,69,254,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,32635339,132,1,4,7,133,50,152,141,168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN